<div class="container">
  <p class="text-center"><a routerLink="add/trend" class="btn btn-sm btn-success mb-2">Add new Trend</a></p>
  <br><br>
  <p class="cv-title">Listtrends Page</p>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form action="listtrends.component.ts" method="post" (ngSubmit)="getListBySearch(form.value)" [formGroup]="form"
          autocomplete="off">

      <div class="form-group float-left col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <label> Search String</label>
        <input formControlName="search_string"
               type="text" name="search_string" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1"
               class="form-control">
      </div>

      <div class="form-group float-left col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <label>OrderBy</label>
        <select formControlName="orderByField" name="search_strategie" id="search-strategie" class="form-control">
          <option value="">Sort Field</option>
          <option value="createdAt">Created At</option>
          <option value="title">Title</option>
        </select>
      </div>

      <div class="form-group float-left col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <label>Value</label>
        <select formControlName="valueField" class="form-control">
          <option value="">Sort Value</option>
          <option value="asc">ASC</option>
          <option value="desc">DESC</option>
        </select>
      </div>

      <button type="submit"
              class="btn-search form-control float-left col-xs-12 col-sm-12 col-md-3 col-lg-3 btn btn-success">Search
      </button>
    </form>
  </div>

  <div class="clearfix"></div>

  <div class="trends col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br>

      <div class="vt-pagination col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <pagination-controls (pageChange)="p = $event" ></pagination-controls>
      </div>

    <div class="trend-element float-left col-xs-12 col-sm-12 col-md-3 col-lg-3"
         *ngFor="let item of listTrends | paginate: { itemsPerPage: 8, currentPage: p }; index as i;">

      <div class="trend-element-wrappe">
        <p>

          <a routerLink="{{item.id}}">
            <img class="img-galaxy" src="{{ exporeImages(item.images) }}" alt="{{item.title}}">
          </a>
        </p>

        <p class="title">
          <a routerLink="{{item.id}}">
            {{ item.title }}
          </a>
        </p>

        <p>
          <i class="fas fa-toggle-on"></i>: <span class="btn btn-success">{{ item.status }}</span>
        </p>

        <p>
          <i class="fas fa-clock"></i>: <span>{{ item.createdAt}}</span>
        </p>
        <p class="createdBy">
          By:<span>{{ item.createdBy.name}}</span>
        </p>
      </div>
    </div>

<!--    <div class="clearfix"></div>-->
<!--    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-none">-->
<!--      <pagination-controls  (pageChange)="p = $event"></pagination-controls>-->
<!--    </div>-->


  </div>
  <div class="clearfix"></div>
</div>
