<div class="menu-container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()" *ngIf="mobileQuery.matches"><mat-icon>menu</mat-icon></button>
    <span>
      <mat-icon>eco</mat-icon>
      <a routerLink="home" class="company-name">Trendradar</a>
    </span>
    <div class="spacer"></div>

    <div *ngIf="! mobileQuery.matches">
      <a mat-button routerLink="home" routerLinkActive="active-link">Home</a>
      <a mat-button routerLinkActive="active-link" >Services</a>

<!--      <mat-menu #animals="matMenu">-->
<!--        <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>-->
<!--        <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>-->
<!--      </mat-menu>-->

<!--      <mat-menu #vertebrates="matMenu">-->
<!--        <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>-->
<!--        <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>-->
<!--        <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>-->
<!--        <button mat-menu-item>Birds</button>-->
<!--        <button mat-menu-item>Mammals</button>-->
<!--      </mat-menu>-->
<!--      &lt;!&ndash; #enddocregion sub-menu &ndash;&gt;-->

<!--      <mat-menu #invertebrates="matMenu">-->
<!--        <button mat-menu-item>Insects</button>-->
<!--        <button mat-menu-item>Molluscs</button>-->
<!--        <button mat-menu-item>Crustaceans</button>-->
<!--        <button mat-menu-item>Corals</button>-->
<!--        <button mat-menu-item>Arachnids</button>-->
<!--        <button mat-menu-item>Velvet worms</button>-->
<!--        <button mat-menu-item>Horseshoe crabs</button>-->
<!--      </mat-menu>-->

<!--      <mat-menu #fish="matMenu">-->
<!--        <button mat-menu-item>Baikal oilfish</button>-->
<!--        <button mat-menu-item>Bala shark</button>-->
<!--        <button mat-menu-item>Ballan wrasse</button>-->
<!--        <button mat-menu-item>Bamboo shark</button>-->
<!--        <button mat-menu-item>Banded killifish</button>-->
<!--      </mat-menu>-->

<!--      <mat-menu #amphibians="matMenu">-->
<!--        <button mat-menu-item>Sonoran desert toad</button>-->
<!--        <button mat-menu-item>Western toad</button>-->
<!--        <button mat-menu-item>Arroyo toad</button>-->
<!--        <button mat-menu-item>Yosemite toad</button>-->
<!--      </mat-menu>-->

<!--      <mat-menu #reptiles="matMenu">-->
<!--        <button mat-menu-item>Banded Day Gecko</button>-->
<!--        <button mat-menu-item>Banded Gila Monster</button>-->
<!--        <button mat-menu-item>Black Tree Monitor</button>-->
<!--        <button mat-menu-item>Blue Spiny Lizard</button>-->
<!--        <button mat-menu-item disabled>Velociraptor</button>-->
<!--      </mat-menu>-->

      <a mat-button routerLink="projects" routerLinkActive="active-link">Projects</a>
      <a mat-button routerLink="about" routerLinkActive="active-link">About Us</a>

      <ng-container *ngIf="isAuthenticatedState">
        <a mat-button routerLink="listtrends" routerLinkActive="active-link" color="accent">List trends</a>
        <a mat-button routerLink="portfolio" routerLinkActive="active-link" color="accent">Portfolio-Analyse</a>
        <a mat-button routerLink="roadmap" routerLinkActive="active-link" color="accent">Road Map</a>
        <a mat-button routerLink="trendradar" routerLinkActive="active-link" color="accent">Trend Radar</a>
        <a mat-button routerLink="files" routerLinkActive="active-link" color="accent">Files Control</a>
      </ng-container>

    </div>

    <ng-container *ngIf="isAuthenticatedState" >
      <div class="user-infor">
        <div class="mat-button bg-primary" (click)="clickEmail()">
          Welcome {{emailUser}} <i class="fas" [ngClass]="isActive ? 'fa-sort-up' : 'fa-sort-down'"></i>
        </div>
        <div class="user-toogle" [ngClass]="isActive ? 'active' : 'deactive'">
          <p>Edit</p>
          <p>
            <button (click)="logout()" mat-raised-button color="warn">Log out</button>
          </p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!isAuthenticatedState">
      <a mat-raised-button color="accent" routerLink="login">Sign Up</a>
    </ng-container>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 70 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" [style.width.px]="mobileQuery.matches ? 200 : 0" fixedTopGap="70">
      <a routerLink="home" routerLinkActive="active-link">Home</a>

      <a mat-button routerLinkActive="active-link">Services</a>

<!--      <mat-menu #animals="matMenu">-->
<!--        <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>-->
<!--        <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>-->
<!--      </mat-menu>-->

<!--      <mat-menu #vertebrates="matMenu">-->
<!--        <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>-->
<!--        <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>-->
<!--        <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>-->
<!--        <button mat-menu-item>Birds</button>-->
<!--        <button mat-menu-item>Mammals</button>-->
<!--      </mat-menu>-->
<!--      &lt;!&ndash; #enddocregion sub-menu &ndash;&gt;-->

<!--      <mat-menu #invertebrates="matMenu">-->
<!--        <button mat-menu-item>Insects</button>-->
<!--        <button mat-menu-item>Molluscs</button>-->
<!--        <button mat-menu-item>Crustaceans</button>-->
<!--        <button mat-menu-item>Corals</button>-->
<!--        <button mat-menu-item>Arachnids</button>-->
<!--        <button mat-menu-item>Velvet worms</button>-->
<!--        <button mat-menu-item>Horseshoe crabs</button>-->
<!--      </mat-menu>-->

<!--      <mat-menu #fish="matMenu">-->
<!--        <button mat-menu-item>Baikal oilfish</button>-->
<!--        <button mat-menu-item>Bala shark</button>-->
<!--        <button mat-menu-item>Ballan wrasse</button>-->
<!--        <button mat-menu-item>Bamboo shark</button>-->
<!--        <button mat-menu-item>Banded killifish</button>-->
<!--      </mat-menu>-->

<!--      <mat-menu #amphibians="matMenu">-->
<!--        <button mat-menu-item>Sonoran desert toad</button>-->
<!--        <button mat-menu-item>Western toad</button>-->
<!--        <button mat-menu-item>Arroyo toad</button>-->
<!--        <button mat-menu-item>Yosemite toad</button>-->
<!--      </mat-menu>-->

<!--      <mat-menu #reptiles="matMenu">-->
<!--        <button mat-menu-item>Banded Day Gecko</button>-->
<!--        <button mat-menu-item>Banded Gila Monster</button>-->
<!--        <button mat-menu-item>Black Tree Monitor</button>-->
<!--        <button mat-menu-item>Blue Spiny Lizard</button>-->
<!--        <button mat-menu-item disabled>Velociraptor</button>-->
<!--      </mat-menu>-->

      <a routerLink="projects" routerLinkActive="active-link">Projects</a>
      <a routerLink="about" routerLinkActive="active-link">About Us</a>
      <a routerLink="trendradar" routerLinkActive="active-link">Trend Radar</a>
      <a routerLink="roadmap" routerLinkActive="active-link">Road Map</a>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
