<div class="customer-comments">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 col-xl-4 col-lg-4 col-md-4 col-sm-1">
        <p><strong>Customer Van Tinh Chu</strong></p>
        <div class="col-6 col-xl-6 col-lg-6 col-md-1 col-sm-1 float-left">
          <img src="assets/awatar.jpg" alt="vantinh" class="customer-awatar">
        </div>
        <div class="col-6 col-xl-6 col-lg-6 col-md-1 col-sm-1 float-left">
          Trend radar provides me an overview about the technology in the world
        </div>
      </div>
      <div class="col-4 col-xl-4 col-lg-4 col-md-4 col-sm-1">
        <p><strong>Customer Van Tinh Chu</strong></p>
        <div class="col-6 col-xl-6 col-lg-6 col-md-1 col-sm-1 float-left">
          <img src="assets/ilovenice.jpg" alt="vantinh" class="customer-awatar">
        </div>
        <div class="col-6 col-xl-6 col-lg-6 col-md-1 col-sm-1 float-left">
          Trend radar provides me an overview about the technology in the world
        </div>
      </div>
      <div class="col-4 col-xl-4 col-lg-4 col-md-4 col-sm-1">
        <p><strong>Customer Van Tinh Chu</strong></p>
        <div class="col-6 col-xl-6 col-lg-6 col-md-1 col-sm-1 float-left">
          <img src="assets/nice-kokos.jpg" alt="vantinh" class="customer-awatar">
        </div>
        <div class="col-6 col-xl-6 col-lg-6 col-md-1 col-sm-1 float-left">
          Trend radar provides me an overview about the technology in the world
        </div>
      </div>

    </div>
  </div>
</div>

