<div class="roadmap">
  <p>ROADMAP TRENDS</p>
  <div class="content">
    <div class="information">Information</div>
    <br>
    <br>
    <!--    ---------------------------------------------------------timeline -->
    <div class="timeline col-lg-12 col-md-12 col-sm-12">
      <div class="left col-lg-3 col-md-3 col-sm-12 bg-info float-left">
        Timeline
      </div>

      <div class="right col-lg-9 col-md-9 col-sm-12 bg-info float-left">
        <div class="line">
         2020 , 2021

        </div>

      </div>
    </div>
    <br>

    <!--    ---------------------------------------------------------rm-high -->
    <div class="rm-high col-lg-12 col-md-12 col-sm-12">
      <div class="left col-lg-3 col-md-3 col-sm-12 bg-primary float-left">
        Investition
      </div>

      <div class="right col-lg-9 col-md-9 col-sm-12 bg-primary float-left">
        <div class="line">
          <p class="btn btn-info">Trend AI</p>
          <p class="btn btn-info">Trend AI+</p>
        </div>

        <div class="btn btn-info line">Trend A1</div>

        <div class="btn btn-info line">Trend A2</div>
      </div>

    </div>
    <hr>

<!--    ---------------------------------------------------------rm-mittel -->
    <div class="rm-mittel col-lg-12 col-md-12 col-sm-12">

      <div class="left col-lg-3 col-md-3 col-sm-12 bg-warning float-left">
        Selection
      </div>

      <div class="right col-lg-9 col-md-9 col-sm-12 bg-warning float-left">
        Trend B
        <br>
        Trend B1
        <br>
        Trend C2
      </div>
    </div>
    <hr>

    <!--    ---------------------------------------------------------rm-low -->
    <div class="rm-low col-lg-12 col-md-12 col-sm-12">
      <div class="left col-lg-3 col-md-3 col-sm-12 bg-danger float-left">
        DeInvestition
      </div>

      <div class="right col-lg-9 col-md-9 col-sm-12 bg-danger float-left">
        Trend C
        <br>
        Trend C1
        <br>
        Trend C2
      </div>
    </div>
    <hr>

  </div>

</div>
