<div class="roadmap h-100">
  <p>ROADMAP TRENDS</p>

  <div class="content-roadmap">
    <div class="information">Information</div>
    <button (click)="printService.mediaprint()" class="btn btn-info cv-print">Print</button>
    <br>
    <br>
    <!--    ---------------------------------------------------------Date Range -->

    <div class="timeline col-lg-12 col-md-12 col-sm-12">

      <div class="left col-lg-1 col-md-1 col-sm-12 bg-info float-left" tooltip="you can use this filter as you want ">
        Date range
      </div>

      <div class="right col-lg-11 col-md-11 col-sm-12 float-left text-dark">
        <div class="line">
          <form (ngSubmit)="filter(form.value)" [formGroup]="form">
            <mat-form-field class="example-form-field col-lg-3 col-sm-12" appearance="fill">
              <mat-label>Select Date Rage</mat-label>
              <mat-date-range-input
                [formGroup]="form"
                [rangePicker]="campaignOnePicker"
                [comparisonStart]="form.value.start"
                [comparisonEnd]="form.value.end">
                <input matStartDate placeholder="Start date" formControlName="start">
                <input matEndDate placeholder="End date" formControlName="end">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
              <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-lg-3 col-sm-12">
              <mat-label>Select View</mat-label>
              <mat-select formControlName="type_view">
                <mat-option value="year">Year</mat-option>
                <mat-option value="month">Month</mat-option>
              </mat-select>
            </mat-form-field>

            <button class="btn-filter btn btn-primary col-lg-3 col-sm-12" type="submit">Filter</button>

          </form>

        </div>

      </div>
    </div>


    <!--    ---------------------------------------------------------timeline -->
    <div class="timeline col-lg-12 col-md-12 col-sm-12">

      <div class="left col-lg-1 col-md-1 col-sm-12 bg-info float-left">
        Timeline
      </div>

      <div class="right col-lg-11 col-md-11 col-sm-12 float-left text-dark">
        <div class="vt-year">
          <div *ngFor="let item of arrayTimline" class="vt-year-col float-left text-center" [class]="caculateWithYearElement(arrayTimline.length)">
            <div>{{ item }}</div>

            <div class="vt-year-month col-lg-1 col-md-1 col-sm-1 col-xs-1 float-left text-center" *ngFor="let mo of arrayMoths">
              {{ mo }}
            </div>
          </div>

        </div>

      </div>
    </div>
    <br>
  <div class="clearfix"></div>

    <!--    ---------------------------------------------------------rm-high Investition-->
    <div class="rm-high col-lg-12 col-md-12 col-sm-12">
      <div class="left col-lg-1 col-md-1 col-sm-12 bg-primary float-left"
           tooltip="The trends belongs safe area.
      You can invest your money and time to this trend in the future">
        Investition
      </div>

      <div class="vt-evaultion-right right col-lg-11 col-md-11 col-sm-12 float-left">
        <ng-container *ngFor="let item of listTrends ; index as i">

        <div class="line" *ngIf="item.layer == 1">

          <p class="btn text-white" (click)="routerOtherPage(item.id)"
             tooltip="{{item.title}} - {{item.description}}"
               [style.left.%]="item.left"
               [style.width.%]="item.widthprozent"
               [style.background-color]="getColor(i)"

          >
            {{item.id}}.{{item.title}}
            <br>
            <span class="text-warning">{{ShowDate( item.start)}}</span> - <span class="date-end">{{ ShowDate(item.end)}}</span>
          </p>


        </div>
        </ng-container>
      </div>

    </div>

    <div class="clearfix"></div>

<!--    ---------------------------------------------------------rm-mittel Selection-->
    <div class="rm-mittel col-lg-12 col-md-12 col-sm-12">

      <div class="left col-lg-1 col-md-1 col-sm-12 bg-warning float-left" tooltip="This trend is to select.
      You have to decide if you want to bring time and your money to this technologie">
        Selection
      </div>

      <div class="vt-evaultion-right right col-lg-11 col-md-11 col-sm-12 float-left">
        <ng-container *ngFor="let item of listTrends; index as i">

          <div class="line" *ngIf="item.layer == 2">

            <p class="btn text-white" (click)="routerOtherPage(item.id)"
               tooltip="{{item.title}} - {{item.description}}"
               [style.left.%]="item.left"
               [style.width.%]="item.widthprozent"
               [style.background-color]="getColor(i)"

            >
              {{item.id}}.{{item.title}}
              <br> <span class="text-warning">{{ShowDate( item.start)}}</span> - <span class="date-end">{{ ShowDate(item.end)}}</span>
            </p>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="clearfix"></div>

    <!--    ---------------------------------------------------------rm-low -->
    <div class="rm-low col-lg-12 col-md-12 col-sm-12">
      <div class="left col-lg-1 col-md-1 col-sm-12 bg-danger float-left" tooltip="You should not invest in this area
      because this trends were evaluted not so good by your colleagues and our user in this plattform">
        DeInvestition
      </div>

      <div class="vt-evaultion-right right col-lg-11 col-md-11 col-sm-12 float-left">
        <ng-container *ngFor="let item of listTrends ; index as i">

          <div class="line" *ngIf="item.layer == 3">

            <p class="btn text-white" (click)="routerOtherPage(item.id)"
               tooltip="{{item.title}} - {{item.description}}"
               [style.left.%]="item.left"
               [style.width.%]="item.widthprozent"
               [style.background-color]="getColor(i)"
            >
              {{item.id}}.{{item.title}}

              <br> <span class="text-warning">{{ShowDate( item.start)}}</span> - <span class="date-end">{{ ShowDate(item.end)}}</span>
            </p>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="clearfix"></div>
    <!--    ---------------------------------------------------------rm-un Evalution low -->
    <div class="rm-low col-lg-12 col-md-12 col-sm-12">
      <div class="left col-lg-1 col-md-1 col-sm-12 bg-danger float-left" tooltip="This trends would have a evaluation in the next days">
        Not yet Evaluation
      </div>

      <div class="vt-evaultion-right right col-lg-11 col-md-11 col-sm-12  float-left">
        <ng-container *ngFor="let item of listTrends; index as i">

          <div class="line" *ngIf="item.layer == 4">

            <p class="btn text-white"
               tooltip="{{item.title}} - {{item.description}}"
               (click)="routerOtherPage(item.id)"
                [style.left.%]="item.left"
                [style.width.%]="item.widthprozent"
                [style.background-color]="getColor(i)"

            >
              {{item.id}}.{{item.title}}

              <br> <span class="text-warning">{{ShowDate( item.start)}}</span> - <span class="date-end">{{ ShowDate(item.end)}}</span>

            </p>
          </div>
        </ng-container>
      </div>
    </div>

  </div>

</div>
