<div class="container">
  <div class="col-md-4 text-right">
    <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
  </div>

  <div id="htmlData" class="trends col-xs-1 col-sm-1 col-md-12 col-lg-12">
    <span>Trends:</span>
    <br>
    <div class="col-xs-1 col-sm-1 col-md-12 col-lg-12" *ngFor="let item of trend; index as i;">
      <div class="text-center img col-6 col-sm-12 col-xs-12 col-lg-6 float-left">
        <a routerLink="{{item.id}}">
          <ng-container *ngFor="let im of item.images">
            <img class="img-galaxy-detail" src="{{ im }}" alt="{{ item.title }}">
          </ng-container>

        </a>
      </div>

      <div class="video col-6 col-sm-12 col-xs-12 col-lg-6 float-left">
        <ng-container *ngFor="let vi of item.videos">
          <video controls autoplay class="video-galaxy-detail" src="{{ vi }}"> </video>
        </ng-container>
      </div>
      <div class="clearfix">

      </div>
      <p class="title">
        <a routerLink="{{item.id}}">
          {{ item.title }}
        </a>
      </p>

      <i class="fas fa-info-circle"></i>
      <p class="desc text-justify" [innerHTML]="item.description">
      </p>

      <p>
        <i class="fas fa-toggle-on"></i>: <span class="btn btn-success">{{ item.status }}</span>
      </p>

      <p>
        <i class="fas fa-clock"></i>: <span>{{ item.createdAt}}</span>
      </p>
      <p class="createdBy">
        By:<span>{{ item.createdBy.name}}</span>
      </p>

      <div class="sources" *ngFor="let row of item.source; index as i">
        <p><i class="fab fa-unity"></i> From: {{row.title}}, url: <a href="{{row.url}}" target="_blank">{{row.url}}</a></p>
      </div>
      <p>User's Evalution:</p>
      <div class="evalution" *ngFor="let e of item.trendEvalution; index as ei">
        <div class="evalution-user col-6 col-md-6 col-sm-12 col-lg-6 float-left">
          <p class="createdBy">By: {{e.createdBy.name}}</p>
          <p>Point Effect: {{e.effect}}</p>
          <p>Point Probability: {{e.probability}}</p>
          <p>At: {{e.createdAt}}</p>

        </div>
      </div>
    </div>

  </div>

  <div class="clearfix visible-md-block visible-lg-block"></div>
  <h3></h3>
  <div class="trend-vote col-12 col-lg-12 col-sm-12 col-xs-12  float-left">
    Trend Vote:

    <div  >
      <form [formGroup]="form" autocomplete="off" (ngSubmit)="trendEvalution(form.value)">
        <div class="form-group">
          <label for="effect">Effect auf das Unternehmen</label>
          <input type="text" class="form-control" id="effect" placeholder="from 1 to 5" formControlName="effect">
        </div>

        <div class="form-group">
          <label for="probability">Eintrittswahrscheilichkeit</label>
          <input type="text" class="form-control" id="probability" placeholder="from 1 to 100" formControlName="probability">
        </div>

        <div class="form-group">
          <label for="during">During</label>
          <input type="text" class="form-control" id="during" placeholder="1 year" formControlName="during">
        </div>

        <button class="btn btn-success" type="submit">Submit</button>
      </form>
    </div>
  </div>

  <div class="trend-comment col-6 col-lg-6 col-sm-12 col-xs-12  float-left">
    Trend Comment:
    <app-comments (newComment)="addComment($event)"></app-comments>
  </div>


  <div class="trend-comment-detail col-6 col-lg-6 col-sm-12 col-xs-12  float-left">
    Trend Comment Information:
    <div class="vt-commented" *ngFor="let item of datacomment; index as i">
      <div>
        <span class="vt-commented-date">{{ item.createdAt}}</span>
        by <span class="vt-commented-author">{{item.createdBy.name}}</span>
        <p class="vt-commented-content" [innerHTML]="item.content">

        </p>
      </div>
    </div>
  </div>
</div>
