.trends, .trend-vote
  font-size: large
.title
  a
    text-decoration: none
    color: #0d6efd
.createdBy
  color: #673ab7
.img, .video
  margin-bottom: 10px
.img:hover
  transform: scale(1.5,1.5)
  transition-duration: 6s
.evalution-user
  margin-bottom: 10px
  background: antiquewhite
.img-galaxy-detail, .video-galaxy-detail
  max-width: 100%
  padding: 5px
