<div class="container wrapper">
  <h3 class="border-light">Portfolio-Analyse with the matrix of <a href="https://www.marketinginstitut.biz/blog/portfolio-analyse-als-instrument-im-business-development/">McKinsey-Matrix</a></h3>
<!--  <p><button class="btn btn-success btn-block" printSectionId="htmlData" ngxPrint>print</button></p>-->
  <button (click)="printService.mediaprint()" class="btn btn-info">click media print with css</button>
  <br>

  <div class="explantion">
    <div class="part">
      This portfolio is based on the model developed with the McKinsey matrix. There are 3 parts, which include investment (I, II, IV), selection (III, V, VII), disinvestment (VI, VIII, IX).
      The portfolio is built on this page from the ratings.
    </div>
  </div>

  <div class="list-trendid">
    <ng-container *ngFor="let row of portFolio[0]; index as i">
      <p id="highlight-{{i}}" (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)"><span><b>{{ row.trendId.id}}</b>: {{ row.trendId.title }}</span></p>
    </ng-container>
  </div>

  <br>
  <div class="portfolio" id="htmlData">
    <div class="content">
      <table>
        <div class="btn btn-info stark d-inline-block" tooltip="Can be directly influenced by the company">strong</div>
        <div class="btn btn-info aufwirkung d-inline-block" tooltip="Impact on the company from 1 to 5">Impact on the company</div>
        <div class="btn btn-info gering  d-inline-block" tooltip="NOT DIRECTLY influenceable by the company">weak</div>

        <div class="btn btn-info bottom-gering d-inline-block" tooltip="no Profit" >low</div>
        <div class="btn btn-info bottom-eintritt d-inline-block" tooltip="Probability of occurrence axis" >Probability of occurrence</div>
        <div class="btn btn-info bottom-stark  d-inline-block" tooltip="enter very high">high</div>

        <div class="trends" >
            <ng-container *ngFor="let item of portFolio[0]; index as i">
              <ng-template #popTemplate>
                <div class="cv-tooltip">
                  <div class="cv-title"> Impact : {{ roundExtends(item.average_effect )}}, Probability of occurrence: {{ roundExtends(item.average_pro)}} %</div>
                  <div><b>{{item.trendId.title}}</b> <br>{{ item.trendId.description}}</div>
                </div>
              </ng-template>

              <!--                    [style.width.px]="item.total / 4"-->
              <!--                    [style.height.px]="item.total / 4"-->
              <span
                (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)"
                id="highlight-{{i}}"
                    class="p-trend {{getClassColor(item.average_effect)}}"
                    [tooltip]="popTemplate"
                    [delay]="200"
                    [style.top.px]="caculateTop( item.average_effect )"
                    [style.left.%]="item.average_pro"
                    (click)="routerOtherPage(item.trendId.id)">
                {{ item.trendId.id  }}
              </span>
            </ng-container>
        </div>

        <div class="one">0%</div>
        <div class="ten">10%</div>
        <div class="twenty">20%</div>
        <div class="thirty">30%</div>
        <div class="forty">40%</div>
        <div class="fifty">50%</div>
        <div class="sixty">60%</div>
        <div class="seventy">70%</div>
        <div class="eighty">80%</div>
        <div class="nighty">90%</div>
        <div class="hundert">100%</div>


        <ng-template #Template1>
          <div class="cv-tooltip">
            <div class="cv-title">
              Position verteidigen
            </div>
            <div>
              Tackle trends immediately: This is the most important and sensitive area of the portfolio. <br>
              Opportunities have to be used energetically and risks have to be consistently avoided. <br>
              If the trend developments are further in the future, preventive planning is necessary here, with which the company is concerned
              prepared for development.
            </div>
          </div>
        </ng-template>

        <ng-template #Template2>
          <div class="cv-tooltip">
            <div class="cv-title">
              Expansion with investment
            </div>
            <div>
              Proactively picking up on trends: These trends are of great importance to the company, at the same time it is not clear whether they will actually occur. <br>
              Due to their great importance, the company should deal intensively with these trends and monitor their possible occurrence
              or maybe even influence it yourself.
            </div>
          </div>
        </ng-template>

        <ng-template #Template3>
          <div class="cv-tooltip">
            <div class="cv-title">
              Selective expansion of trends
            </div>
            <div>
              Reactive contingency plans in order to be able to take advantage of opportunities or avert risks in the event of a rather unexpected occurrence;
              <br>
              Field of application for strategic early reconnaissance.
            </div>
          </div>
        </ng-template>

        <ng-template #Template4>
          <div class="cv-tooltip">
            <div class="cv-title">
              Selective expansion of trends
            </div>
            <div>
              These are the medium trends. At the moment these trends are neither so high nor so low. But there are several directions
              develop, they should be observed very closely.
            </div>
          </div>
        </ng-template>

        <ng-template #Template5>
          <div class="cv-tooltip">
            <div class="cv-title">
              Selection / profit orientation
            </div>
            <div>
              These are the medium trends. At the moment these trends are neither so high nor so low.
              But since they are in several directions
              develop, they should be observed very closely.
            </div>
          </div>
        </ng-template>

        <ng-template #Template6>
          <div class="cv-tooltip">
            <div class="cv-title">
              Expand conditionally
            </div>
            <div>
              These trends can expand further in the future. Nevertheless, you should take a close look at the conditions for development
              need need.
            </div>
          </div>
        </ng-template>

        <ng-template #Template7>
          <div class="cv-tooltip">
            <div class="cv-title">
              Defense and shift focus
            </div>
            <div>
              Corresponding trends have only a minor impact on the company. Because of its high probability, it should
              monitored and integrated into ongoing planning.
            </div>
          </div>
        </ng-template>

        <ng-template #Template8>
          <div class="cv-tooltip">
            <div class="cv-title">
              Profit orientation
            </div>
            <div>
              This trend has very little effect on the company. Even so, they can bring profit to you in the market in a short amount of time.
              They should also be watched.
            </div>
          </div>
        </ng-template>

        <ng-template #Template9>
          <div class="cv-tooltip">
            <div class="cv-title">
              Disinvestment
            </div>
            <div>
              Do not tie up resources unnecessarily. Trends should not be the focus of planning
            </div>
          </div>
        </ng-template>

        <tr>
          <td class="td-first">
            <span>5</span>
          </td>
          <td class="bg-primary"><b style="color: white;font-size: larger; margin-left: 20px" [tooltip]="Template3">III
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </b></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"></td>
          <td class="bg-success"></td>
          <td class="bg-success"><b style="color: white;font-size: larger; margin-left: 20px" [tooltip]="Template2">II
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </b></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
          <td class="bg-success"><b style="color: white;font-size: larger; margin-left: 20px" [tooltip]="Template1">I
            <i class="fa fa-info-circle" aria-hidden="true"></i>
           </b></td>
        </tr>
        <tr>
          <td class="td-first"> <span>4.5</span></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
        </tr>
        <tr>
          <td class="td-first"> <span>4</span></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
        </tr>
        <tr>
          <td class=".bg-secondary td-first"> <span>3.5</span></td>
          <td class="bg-secondary"><b style="color: white;font-size: larger; margin-left: 20px" [tooltip]="Template6">VI
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </b></td>
          <td class="bg-secondary"></td>
          <td class="bg-secondary"></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"><b style="color: white;font-size: larger; margin-left: 20px" [tooltip]="Template5">V
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </b></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
          <td class="bg-success"><b style="color: white;font-size: larger; margin-left: 20px" [tooltip]="Template4">IV
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </b></td>
        </tr>
        <tr>
          <td class="bg-secondary td-first"> <span>3</span></td>
          <td class="bg-secondary"></td>
          <td class="bg-secondary"></td>
          <td class="bg-secondary"></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
        </tr>
        <tr>
          <td class="bg-secondary td-first"> <span>2.5</span></td>
          <td class="bg-secondary"></td>
          <td class="bg-secondary"></td>
          <td class="bg-secondary"></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
          <td class="bg-success"></td>
        </tr>
        <tr>
          <td class="bg-secondary td-first"> <span>2</span></td>
          <td class="bg-secondary"><b style="color: white;font-size: larger; margin-left: 20px" [tooltip]="Template9">IX
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </b></td>
          <td class="bg-secondary"></td>
          <td class="bg-secondary"></td>
          <td class="bg-secondary"></td>
          <td class="bg-secondary"><b style="color: white;font-size: larger; margin-left: 20px" [tooltip]="Template8">VIII
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </b></td>
          <td class="bg-secondary "></td>
          <td class="bg-secondary"></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"><b style="color: white;font-size: larger; margin-left: 20px" [tooltip]="Template7">VII
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </b></td>
        </tr>
        <tr>
          <td class="bg-secondary td-first">
            <span>1.5</span>
            <span class="begin">1</span>
          </td>
          <td class="bg-secondary"></td>
          <td class="bg-secondary"></td>
          <td class="bg-secondary"></td>
          <td class="bg-secondary"></td>
          <td class="bg-secondary"></td>
          <td class="bg-secondary"></td>
          <td class="bg-secondary"></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"></td>
          <td class="bg-primary"></td>
        </tr>
      </table>
    </div>


  </div>

</div>

